# PostgreSQL
POSTGRES_USER=biblioteca_user
POSTGRES_PASSWORD=sua_senha_segura
POSTGRES_DB=biblioteca_db

# App (A URL do banco deve bater com os dados acima)
DATABASE_URL=postgresql://biblioteca_user:sua_senha_segura@db:5432/biblioteca_db

# Segurança JWT (Gere uma string segura para produção)
SECRET_KEY=sua_chave_secreta_jwt_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
